<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>
<div class="top-wrapper">
  <div class="top-inner-text">
  <div class="text-center py-12 px-4">
  <!-- ロゴ + キャッチコピー -->
  <h1 class="text-3xl md:text-5xl font-bold text-neutral mb-4">Free Market</h1>
  <p class="text-lg md:text-xl text-gray-600 mb-4">予算を決めずに放り込め！</p>

  <!-- サインアップ + ログイン -->
    <div class="flex-none space-x-2">
        <%= link_to new_user_path, class: "relative h-12 overflow-hidden rounded bg-neutral-950 px-5 py-2.5 text-white transition-all duration-300 hover:bg-neutral-800 hover:ring-2 hover:ring-neutral-800 hover:ring-offset-2" do %>
        <span class="relative"><%= t("header.sign_up") %></span>
        <% end %>
        <%= link_to login_path, class: "relative h-12 overflow-hidden rounded bg-neutral-950 px-5 py-2.5 text-white transition-all duration-300 hover:bg-neutral-800 hover:ring-2 hover:ring-neutral-800 hover:ring-offset-2" do %>
        <span class="relative"><%= t("header.login") %></span>
        <% end %>
    </div>
  </div>
</div>
