<div class="top-wrapper">
  <div class="top-inner-text">
  <div class="text-center py-12 px-4">
  <!-- ロゴ + キャッチコピー -->
  <h1 class="text-3xl md:text-5xl font-bold text-neutral mb-4">買い物リスト（仮）</h1>
  <p class="text-lg md:text-xl text-gray-600 mb-4">予算を決めずに放り込め！</p>
  <!-- サインアップ + ログイン -->
  <div class="flex-1">
      <%= link_to "#", root_path, class: "text-2xl font-bold" %>
    </div>
    <div class="flex-none space-x-2">
        <%= link_to new_user_path, class: "btn btn-outline" do %>
          <i class="fa-solid fa-user-plus"></i>
          <%= t('header.sign_up') %>
        <% end %>
        <%= link_to login_path, class: "btn btn-outline" do %>
          <i class="fa-solid fa-right-to-bracket"></i>
          <%= t('header.login') %>
        <% end %>
    </div>
  </div>
</div>